@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #8a237e; 
}

main {
     width: 80%;
     margin: auto;
     background-color: white;
     padding: 20px;
     text-align: center;
}

button {
     padding: 10px;
     border: 2px solid #8a237e;
     border-radius: 3px;
}

button:hover {
     background-color: #8a237e;
     color: white;
}